<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magefan_FacebookPixel" setup_version="2.4.3">
        <sequence>
            <module name="Facebook_BusinessExtension" />
            <module name="Magefan_Community" />
        </sequence>
    </module>
</config>
